<div style="
    margin: 4px 0 0 0;
    padding: 10px;
    border: 1px solid #d3dae4;
    border-radius: 3px;
    background: #f7f9fc;
    color: #3f4a5a;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    height: {log_height}px;
    box-sizing: border-box;
">
    <div style="
        height: 100%;
        overflow: auto; 
        display: flex;
        flex-direction: column-reverse;
    ">
        <pre style="
            margin: 0; 
            background: transparent; 
            line-height: 1.2;
            white-space: pre-wrap; /* Forces long text to wrap */
            word-break: break-word; /* Prevents long words/paths from breaking the layout */
        "><code style="background: transparent;">{log}</code></pre>
    </div>
</div>